<script>
    // builder scripts
    // functions
    function submit_data (e) {
        var p = $(e).parent('form');
        var x_metric = p.find("#x_metric").val();
        var y_metric = p.find("#y_metric").val();
        var from = moment(p.find("#datetimepicker_data").val(),"DD/MM/YY HH:mm").unix();
        var delta = p.find("#delta").val();
        var func = p.find("#gtype").val();
        var graphite_server = p.find("#graphite_server").val();
        var color = p.find("#color").val();
        var xmax = p.find("#xmax").val();
        var renderer = p.find("#renderer").val();
        var graph_name = p.find("#graph_name").val();
        
        var url = "/affinite/data?x_metric="+x_metric+"&y_metric="+y_metric+"&from="+from+"&renderer="+renderer+"&delta="+delta+"&type="+func+"&xmax="+xmax+"&graphite_server="+graphite_server+"&color="+color;

        graph_id = p.find('.graph_id').val();
        if (!graph_id) {
            graph_id = simple_hash(url);
            p.find('.graph_id').val(graph_id);
        }

        console.log("Got form data:["+renderer+","+graph_name+","+graph_id+","+color+"]");

        graphs_view_hash[graph_id] = {
                "x": x_metric, "y": y_metric,
                "from": from, "delta": delta, "xmax": xmax,
                "func": func, "color": color, "graphite_server": graphite_server,
                "renderer": renderer, "url": url,
                "graph_name": graph_name };
        get_graph_data(graph_id, url, graph_name);
        render_graph();
    }
   
    function remove_graph(graph) {
        // remove graph only if it is not last graph in series
        // if it is last graph, easier to do refresh than to mess up with cleanup
        if ($('.graph_div').length > 1) {
            var graph_id = $(graph).parents('.graph_div').find('.graph_id').val();
            $('.logging_p').append("got graph_id for deleting "+graph_id);
            delete graphs_data_hash[graph_id];
            delete graphs_view_hash[graph_id];
            render_graph();
            $(graph).parents('.graph_div').remove();
        }
    }

    $('#add_data_button').click(
        function () {
            var form_html = $('.graph_div:last').clone(false).appendTo('#data_container');
            if (form_html) {
                console.log("don't run!");
            }
            form_html.attr('id','form_instance');
            form_html.find('.graph_id').val('');
            form_html.removeClass('hidden');
            load_datetimePicker();
            console.log("added new form");
        }
    );

    function save_graph(frm) {
        var new_graph_name = $(frm).parent().find("#new_graph_name").val();
        if (new_graph_name) {
            $.post( "/affinite/save_graph", { graph_settings: JSON.stringify(graphs_view_hash), graph_name: new_graph_name }).done(function( data ) {
                alert( "Data Loaded: " + data );
            });
        } else {
           alert("Graph name must be defined!");
        }
    }

    function set_global_date(frm) {
        var global_date = $('.global_date_picker').data('DateTimePicker').getDate();
        $('.datetimepicker1').each( function (index) {
            $( this ).data('DateTimePicker').setDate(global_date);
            submit_data($( this ).parents('.row'));
        });
    }

</script>
	
