            <!-- graph itself -->
            <p id="chart_paragraph">
				<h1>
					Super puper graph!
				</h1>

				<body>
                <div class="row">
                    <div class="col-xs-11">
				    	<div id="chart"></div> 
                    </div>
                    <div class="col-xs-1">
                    <div id="legend"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-11 offset-20px" id="slider"></div>
                </div>
			</p>
            <p class="bg-danger logging_p"></p>


