{% include 'header.html' %} 
{% include 'chart.html' %}
         <div id="data_container">
                 {% include 'data_form.html' %}
         </div> <!-- END of data_container -->
          <p class="text-right"><button class="btn btn-default" id="add_data_button">Add data</button></p> 
		</div>
	</div>
</div>

{% include 'script.html' %}


{% include 'builder_scripts.html' %}

<script>
    function load_datetimePicker () {
        $('.datetimepicker1').datetimepicker({
             defaultDate: moment().subtract('days', 1).format('DD/MM/YY HH:mm'),
             format: 'DD/MM/YY HH:mm',
             pick12HourFormat: false
        });
    };

    $(load_datetimePicker);
    $('.graph_div').removeClass('hidden');
</script>

{% include 'footer.html' %}
