{% include 'header.html' %}
{% include 'chart.html' %}
         <div id="data_container">
         </div> <!-- END of data_container -->
         <p class="text-right"><button class="btn btn-default" id="add_data_button">Add data</button></p> 
		</div>
<!-- close header divs -->
	</div>
</div>
        
{% include 'data_form.html' %}

{% include 'script.html' %}

{% autoescape false %}
<script>
    function load_datetimePicker (default_date) {
        $('.datetimepicker1').datetimepicker({
             defaultDate: default_date,
             format: 'DD/MM/YY HH:mm',
             pick12HourFormat: false
        });
        console.log("got default date "+default_date);
    };

    $(load_datetimePicker);

    // set graph name in save form
    $('#new_graph_name').val('{{ graph_name }}');

        var graphs_view_hash = JSON.parse('{{ graph }}');
        var graphs_data_hash = {};
        $(function() {
            for (k in graphs_view_hash) {
                get_graph_data(k, graphs_view_hash[k]['url'], graphs_view_hash[k]['graph_name']);
                var form_html = $('.graph_div:last').clone(false).appendTo('#data_container');
                form_html.find('.graph_id').val(k);
                form_html.find('#color').val(graphs_view_hash[k].color);
                form_html.find('#extended').val(graphs_view_hash[k].extended);
                form_html.find('#graphite_server').val(graphs_view_hash[k].graphite_server);
                form_html.find('#delta').val(graphs_view_hash[k].delta);
                form_html.find('#graph_name').val(graphs_view_hash[k].graph_name);
                form_html.find('#x_metric').val(graphs_view_hash[k].x);
                form_html.find('#y_metric').val(graphs_view_hash[k].y);
                form_html.find('#renderer').val(graphs_view_hash[k].renderer);
                default_date = moment(graphs_view_hash[k].from,'X').format('DD/MM/YY HH:mm');
                load_datetimePicker(default_date);
                console.log("date in hash "+graphs_view_hash[k].from+" and default date is "+default_date);
                form_html.removeClass('hidden');
            }
            // remove unused data form for cloning
            $('.graph_div:last').filter('.hidden').remove();
       });
    </script>
{% endautoescape %}
	
{% include 'builder_scripts.html' %}
{% include 'footer.html' %}
