Source: affinite
Section: misc
Priority: extra
Maintainer: Kulikovsky Dmitry <dkulikovsky@yandex-team.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: affinite
Architecture: all
Depends: python-flask, redis-server, multiwatch, python-redis, python-flup, python-numpy, nginx, python-scipy, python-pandas, spawn-fcgi
Description: graphite data in affinite coordinates
